h5py
matplotlib
moviepy
natsort
numpy
opencv-python-headless
pandas
pathlib2
python-dotenv
PyQt5
QtPy
scikit-image
scikit-learn
scipy
segmentation-models
segmentation-models-3D
sklearn
tensorflow
tifffile
tqdm